/*header*/

.header-nav{
    background-image: url("./fondo.jpg");    
}

.header-title-and-logo{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}
.logolocal{
    margin: auto;
  position: top;

    
}

.titulodos{
    font-weight: bold ;
    color:#797979;
    font-size: 20px;
    font-family:"Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
}
.contenedor{
    list-style: none;
    display: flex;
    flex-direction: row;  

}
.elemento1{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    
}
.elemento2{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
   
}
.elemento3{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
   
}
.elemento4{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
}
.elemento5{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px; 
}
.box{
    float: left;
}


/*main*/
.fotos{
    display: flex;
  width: 250px;
  height: 220px;
  margin: 0 auto;
  margin-top: 15px;
  justify-content: center;
}


/*footer*/

.my-footer{
    background-image: url(fondo.jpg);
    padding-left: 10px;
    padding-right: 10px;
}

/*horarios*/

.dia {
    font-weight: bold ;
}
.dialunes {
    font-weight: bold ;
    color:#1883F5;
    font-size: 25px;
}

.horariolunes {
        font-style: italic;
        color:#1883F5;
}
.diamartes {
    font-weight: bold ;
    color:#18B9F5;
    font-size: 25px;
}
.horariomartes {
    font-style: italic;
    color:#18B9F5;
}
.diamiercoles {
    font-weight: bold ;
    color:#F88AE2;
    font-size: 25px;
}
.horariomiercoles {
    font-style: italic;
    color:#F88AE2;
}
.diajueves {
    font-weight: bold ;
    color:#A71591;
    font-size: 25px;
}
.horariojueves {
    font-style: italic;
    color:#A71591; 
}
.diaviernes {
    font-weight: bold ;
    color:#BBD800;
    font-size: 25px; 
}
.horarioviernes {
    font-style: italic;
    color:#BBD800; 
}
.diasabado {
    font-weight: bold ;
    color:#DBFE00; 
    font-size: 25px;
}
.horariosabado {
    font-style: italic;
    color:#DBFE00; 
}
.dias{
       font-size: 20px;
       font-weight: bold;       
}
.mañana{
    font-size: 20px;
    font-weight: bold; 
}
.tarde{
    font-size: 20px;
    font-weight: bold; 
}
.horarios{
    font-size: 20px;
    font-weight: bold; 
}


/*contacto*/

.bordeformulario{
    border-width: 1px;
    border-color: #000B0C ;
    border-style: solid;
}

.mb-3{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
}